<div class="seaction-4">
    <div class="section-1">
        <div class="sec">
            <h3 class="text-white ">NEW</h3>
            <h3 class="text-white ">ARIVAL</h3>
            <h3 class="text-white ">20% OFF</h3>
        </div>
        
    </div>
    <div class="section-2">
        <h3 class="text-white">WATCHES</h3>
        <div class="sec1">
            <h1>EXCLUSIVE</h1>
            <h1>COLLECTIONS</h1>
        </div>
        
    </div>
    <div class="section-3">
        <h3 class="text-white">SHOES</h3>
    </div>
</div>
