<div class="banner-sec">
    <div class="sec-left">
        <h3 class="text-white h33">COATS</h3>
        <div class="sec-h">
            <h3 class="text-white">FOR</h3>
            <strong class="text-danger">Men's</strong>
        </div>
    </div>
    <!-- righ sec start  -->
    <div class="right-sec">
        <img src="assets/image/wintter-collection.webp" alt="">
    </div>
</div>
<div class="middle-sec">
    <h1 class="text-white">BIG SALE</h1>
    <h3 class="text-white " >OFFER</h3>
    <h2 class="text-white">35% <span class="off">OFF</span></h2>
</div>

