<div class="container cant-1 mt-5 d-flex">
    <div class="seaction-1">
        <div class="day d-sec">
            <span class="text-danger text-center ">0</span>
            <p>Days</p>
        </div>    
        <div class="day d-sec">
            <span class="text-danger text-center ">0</span>
            <p>Hours</p>
        </div>    
        <div class="day d-sec">
            <span class="text-danger text-center ">00</span>
            <p>Min</p>
        </div>    
        <div class="day d-sec">
            <span class="text-danger text-center ">00</span>
            <p>Sec</p>
        </div> 
         
    </div>
    <div class="image-sec">
        <div class="d-flex m-t">
            <h4>Tletria postma</h4>
            <p class="text-danger">$120</p>
        </div> 
    </div>
    <div class="seaction-1">
        <div class="day d-sec">
            <span class="text-danger text-center ">0</span>
            <p>Days</p>
        </div>    
        <div class="day d-sec">
            <span class="text-danger text-center ">0</span>
            <p>Hours</p>
        </div>    
        <div class="day d-sec">
            <span class="text-danger text-center ">00</span>
            <p>Min</p>
        </div>    
        <div class="day d-sec">
            <span class="text-danger text-center ">00</span>
            <p>Sec</p>
        </div> 
         
    </div>
    <div class="image-sec2">
        <div class="d-flex m-t">
            <h4>Tletria postma</h4>
            <p class="text-danger">$120</p>
        </div> 
    </div>
    <div class="seaction-1">
        <div class="day d-sec">
            <span class="text-danger text-center ">0</span>
            <p>Days</p>
        </div>    
        <div class="day d-sec">
            <span class="text-danger text-center ">0</span>
            <p>Hours</p>
        </div>    
        <div class="day d-sec">
            <span class="text-danger text-center ">00</span>
            <p>Min</p>
        </div>    
        <div class="day d-sec">
            <span class="text-danger text-center ">00</span>
            <p>Sec</p>
        </div> 
         
    </div>
    <div class="image-sec3">
        <div class="d-flex m-t">
            <h4>Tletria postma</h4>
            <p class="text-danger">$120</p>
        </div> 
    </div>
     
</div>
