<section class="section-11">
    <div class="sidebar-image">
        <h4>SPECIAL OFFER 25% OFF</h4>
        <h3>NEW TREND FOR WOMEN'S</h3>
    </div>
    <div class="center-images">
        
        <h2>Men's</h2>
        <h3>SUMMAR</h3>
        <h4>COLLECTIONS</h4>
    </div>
    <div class="right-images">
        <h2>SHOES</h2>
        <h3>35% OFF</h3>
    </div>
    <div class="bags">
        <h2>BAG'S</h2>
        <h3>PROMOTION</h3>
    </div>  
    <div class="kids">
        <h2>KID'S</h2>
        <h3>COLLECTION</h3>
    </div>
</section>
