<div class="fp-heading mt-5">
    <h1 class="text-center ">FEATURED PRODUCT</h1>
    <p class="text-center text-danger para1">Best Collection for you</p>
    <!-- <img src="assets/image/section-border.webp" class="text-center" alt=""> -->
</div>
<div class="product-container container">
    <div class="product product-1">
        <ul>
            <li><i class="rated fa fa-star"></i></li>
            <li><i class="rated fa fa-star"></i></li>
            <li><i class="rated fa fa-star"></i></li>
            <li><i class="rated fa fa-star"></i></li>
            <li><i class="rated fa fa-star"></i></li>
            <p>Price $120</p>
        </ul>
        <h6>Celletria ostma</h6>
    </div>
    <div class="product product-2">
        <button class="btn btn-danger">-25%</button>
        <ul>
            <li><i class="rated fa fa-star"></i></li>
            <li><i class="rated fa fa-star"></i></li>
            <li><i class="rated fa fa-star"></i></li>
            <li><i class="rated fa fa-star"></i></li>
            <li><i class="rated fa fa-star"></i></li>
            <p>Price $120</p>
        </ul>
        <h6>Celletria ostma</h6>
    </div>
    <div class="product product-3">
        <ul>
            <li><i class="rated fa fa-star"></i></li>
            <li><i class="rated fa fa-star"></i></li>
            <li><i class="rated fa fa-star"></i></li>
            <li><i class="rated fa fa-star"></i></li>
            <li><i class="rated fa fa-star"></i></li>
            <p>Price $120</p>
        </ul>
        <h6>Celletria ostma</h6>
    </div>
    <div class="product product-4">
        <ul>
            <li><i class="rated fa fa-star"></i></li>
            <li><i class="rated fa fa-star"></i></li>
            <li><i class="rated fa fa-star"></i></li>
            <li><i class="rated fa fa-star"></i></li>
            <li><i class="rated fa fa-star"></i></li>
            <p>Price $120</p>
        </ul>
        <h6>Celletria ostma</h6>
    </div>
    <div class="product product-5">
        <ul>
            <li><i class="rated fa fa-star"></i></li>
            <li><i class="rated fa fa-star"></i></li>
            <li><i class="rated fa fa-star"></i></li>
            <li><i class="rated fa fa-star"></i></li>
            <li><i class="rated fa fa-star"></i></li>
            <p>Price $120</p>
        </ul>
        <h6>Celletria ostma</h6>
    </div>
   
</div>
    