<div class="container mt-5">
    <div class="row">
        <div class="col-sm-3">
            <img src="assets/image/gift.webp" class="images1" alt="">
            <h5 class="text-uppercase m-0 fw-bold text-danger mt-2">free shiping</h5>
            <p class="font-size text-dark">Free for all product</p>
        </div>
        <div class="col-sm-3">
            <img src="assets/image/2.webp" class="images1" alt="">
            <h5 class="text-uppercase m-0 fw-bold text-danger mt-2">order online</h5>
            <p class="font-size text-dark">Free for all product</p>
        </div>
        <div class="col-sm-3">
            <img src="assets/image/3.webp" class="images1" alt="">
            <h5 class="text-uppercase m-0 fw-bold text-danger mt-2">money back</h5>
            <p class="font-size text-dark">Money back guarantee</p>
        </div>
        <div class="col-sm-3">
            <img src="assets/image/gift.webp" class="images1" alt="">
            <h5 class="text-uppercase m-0 fw-bold text-danger mt-2">gift coupon</h5>
            <p class="font-size text-dark">Surprise gift coupon</p>
        </div>

      </div>
</div>
