<section class="heading-component">
    <div class="navigation-bar">
        <ul>
            <li><a href="">Home </a></li>
            <li><a href="">About</a></li>
            <li><a href="">Men</a></li>
            <li><a href="">Women</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </div>
    <div class="heading-items">
        <h3>TRENDY DRESS COLLETIONS</h3>
        <h2>For Women - 2023</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta molestias enim non cumque ut accusantium eos, in quos voluptatibus quia!</p>
        <button class="btn btn-dark text-white">Shop Now</button>
    </div>
</section>
